<div class="container-fluid all-data">
  <div class="data-charts">
  
    <div class="card" [routerLink]="['/detail-page']">
      <div class="card-heading">
        <h5 class="color-gray">Live conversation count</h5>
        <p>3.6K</p>
      </div>
      <div id="growthChart1" class="chart"></div>
    </div>

    <div class="card" [routerLink]="['/detail-page']">
      <div class="card-heading">
        <h5 class="color-gray">Live conversation count</h5>
        <p>2K</p>
      </div>
      <div id="growthChart2" class="chart"></div>
    </div>

    <div class="card" [routerLink]="['/detail-page']">
      <div class="card-heading">
        <h5 class="color-gray">Live conversation count</h5>
        <p>26K</p>
      </div>
      <div id="growthChart3" class="chart"></div>
    </div>

    <div class="card" [routerLink]="['/detail-page']">
      <div class="card-heading">
        <h5 class="color-gray">Live conversation count</h5>
        <p>46K</p>
      </div>
      <div id="growthChart4" class="chart"></div>
    </div>

    <div class="card" [routerLink]="['/detail-page']">
      <div class="card-heading">
        <h5 class="color-gray">Live conversation count</h5>
        <p>6K</p>
      </div>
      <div id="growthChart5" class="chart"></div>
    </div>

    <div class="card" [routerLink]="['/detail-page']">
      <div class="card-heading">
        <h5 class="color-gray">Live conversation count</h5>
        <p>2K</p>
      </div>
      <div id="growthChart6" class="chart"></div>
    </div>

    <div class="card add-card">
      <fa-icon [icon]="faFolderPlus"></fa-icon>
      <p>ADD STATS</p>
    </div>
  </div>
</div>
