// 7th july
$mobile-width: 360px;
$tablet-width: 768px;
$tablet-landscape-width: 1024px;
$desktop-width: 1024px;
$md-desktop: 1440px;
$lg-desktop: 1680px;
$extra-lg-desktop: 1920px;
@mixin s-mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

// responsive code change 15th june
@mixin tablet-port {
    @media (min-width: 768px) and (max-width: 991px) {
        //1July2020Dushyant
        @content;
    }
}

// responsive code change 15th june
@mixin tablet-land {
    @media (min-width: 992px) and (max-width: #{$tablet-landscape-width}) {
        @content;
    }
}

// responsive code change 15th june
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
//31August2020
@mixin small-desktop {
    @media (min-width: #{$desktop-width + 1px}) and (max-width: #{$md-desktop - 1px}) {
        @content;
    }
}

@mixin md-desktop {
    @media (min-width: #{$md-desktop}) and (max-width: #{$lg-desktop - 1px}) {
        @content;
    }
}

@mixin lg-desktop {
    @media (min-width: #{$lg-desktop}) and (max-width: #{$extra-lg-desktop - 1px}) {
        @content;
    }
}

@mixin extra-lg-desktop {
    @media (min-width: #{$extra-lg-desktop}) {
        @content;
    }
}