<div class="container-fluid component-card info-cards">
<div class="heading color-green">
<fa-icon [icon]="faClock"></fa-icon>  
<h3>Most active hours</h3>
</div>
<div class="info">
<span class="info-heading color-gray">12.00pm-14.00pm</span>
<span class="info-value color-gray">3,929 messages</span>
</div>
<div class="info">
<span class="info-heading color-gray">18.00pm-19.10pm</span>
<span class="info-value color-gray">1,929 messages</span>
</div>
<div class="info">
<span class="info-heading color-gray">10.00pm-11.00pm</span>
<span class="info-value color-gray">989 messages</span>
</div>
<div class="info">
<span class="info-heading color-gray">10.00pm-11.10pm</span>
<span class="info-value color-gray">989 messages</span>
</div>
<div class="info">
<span class="info-heading color-gray">10.00pm-12.00pm</span>
<span class="info-value color-gray">989 messages</span>
</div>
<div class="info">
<span class="info-heading color-gray">12.00pm-14.00pm</span>
<span class="info-value color-gray">929 messages</span>
</div>
</div>