<div class="container-fluid component-card info-cards">
<div class="heading color-green">
<fa-icon [icon]="faHeart"></fa-icon>  
<h3>Most common intents</h3>
</div>
<div class="info">
<span class="info-heading color-gray">payment</span>
<span class="info-value color-gray">58.4%</span>
</div>
<div class="info">
<span class="info-heading color-gray">get_a_loan</span>
<span class="info-value color-gray">30.1%</span>
</div>
<div class="info">
<span class="info-heading color-gray">cosumer loans</span>
<span class="info-value color-gray">5%</span>
</div>
<div class="info">
<span class="info-heading color-gray">mortgage</span>
<span class="info-value color-gray">21.4%</span>
</div>
<div class="info">
<span class="info-heading color-gray">help</span>
<span class="info-value color-gray">8.4%</span>
</div>
<div class="info">
<span class="info-heading color-gray">support</span>
<span class="info-value color-gray">5.9%</span>
</div>
</div>